---
layout: base
---
<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <!-- {% assign i=0 %}
  {%- for post in site.posts -%}
    <a href="{{ post.url | absolute_url }}">
      {{post.date}} : {{ post.title }}<br>
    </a>
{% endfor %} -->



</article>
